# Python bytecode
__pycache__/
*.pyc

# Virtual environment
venv/

# Logs
logs/

# Coverage reports
htmlcov/
.coverage

# Environment variables
.env

# VS Code settings (optional)
.vscode/

# Pytest cache
.pytest_cache/
